/* Font size */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: black;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
}

nav li a {
    text-decoration: none;
}

.banner-content {
    width: 862px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 64px;
    color: black;
}

.banner-description {
    font-size: 16px;
    color: #727272;
}

.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
}